@font-face {
    font-family: 'Inconsolata';
    src: url('../assets/fonts/Inconsolata.eot');
    src: url('../assets/fonts/Inconsolata.eot') format('embedded-opentype'),
         url('../assets/fonts/Inconsolata.woff2') format('woff2'),
         url('../assets/fonts/Inconsolata.woff') format('woff'),
         url('../assets/fonts/Inconsolata.ttf') format('truetype'),
         url('../assets/fonts/Inconsolata.svg#Inconsolata') format('svg');
}

$font-family-base: 'Inconsolata';
$font-family-ios-base: 'Inconsolata';
$font-family-md-base: 'Inconsolata';
$font-family-wp-base: 'Inconsolata';
$font-size-base: 18px;

ion-header, ion-navbar {
  font-size: 18px;
}
ion-content {
  line-height: 1.2;
}

h4 {
  color: $color-headline;
  & + p {
    margin-top: 0;
  }
}
