<ion-header>
  <ion-navbar>
    <ion-title>JustRead</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">

  <form name="searchForm" class="home__search">
    <div class="home__search__box">
      <input
        type="search"
        class="home__search__input"
        [(ngModel)]="searchTerm"
        name="searchTerm">
      <span
        *ngIf="searchTerm"
        class="home__search__clear"
        (click)="resetSearch()">
        <ion-icon name="close"></ion-icon>
      </span>
    </div>
    <button
      type="submit"
      class="home__search__btn"
      (click)="search()"
      [disabled]="!searchTerm">
      <ion-icon name="search"></ion-icon>
    </button>
  </form>
  <div style="clear: both;"></div>

  <div *ngIf="!titles.length && !searching" class="text-muted">
    No titles found.
  </div>
  <div *ngIf="searching" class="text-muted">
    Searching&hellip;
  </div>
  <div class="title-list" *ngFor="let title of titles">
    <result
      [titleObject]="title">
    </result>
  </div>

  <div class="home__pagination" *ngIf="titles.length && !searching">
    <button type="button" class="home__pagination__button home__pagination__button--left" [disabled]="page === 1" (click)="changePage(-1)">
      <!--<ion-icon name="arrow-back"></ion-icon>-->
      Previous Page
    </button>
    <button type="button" class="home__pagination__button home__pagination__button--right" (click)="changePage(1)">
      Next Page
      <!--<ion-icon name="arrow-forward"></ion-icon>-->
    </button>
  </div>

</ion-content>
